
# Falcon cLib
.cproject
.project
bin/
config.guess
config.h.in~
config.log
config.status
config.sub
libtool
ltmain.sh
share/
src/lib/.deps/
src/lib/.libs/
src/lib/Makefile
src/lib/*.lo
src/lib/*.o
src/main/.deps/
src/main/*.o

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
